/*  your css code here. If applicable */
.card {
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-item: center;
	justify-content: center;

	background-color: lightgray;
}

button {
	background-color: red;
	color: white;
	width: 150px;
	border: none;
	border-radius: 6px;
	padding: 10px 20px;
}